.obsidian/
Muestra 1.md
Notas del Proyecto.md
muestras/
web_muestra1/
assets/Screenshots/
assets/Informacion/
assets/Catálogo de servicios IS PERFORMANCE (1).pdf
assets/Pasted image*.png
assets/logos/InnovaLOGO2.png
.DS_Store
